@model InvoicesViewModel
@{
    Layout = "_LoggedUserLayout";
    int invCount = Convert.ToInt32(ViewData["Count"]);
}

<body>
    <div class="invoice-section">
        <div class="invoice-section-header border-off">
            <img class="invoice-section-img" src="~/Images/invoiceIconGray.bmp" />
            <div class="text-invoice">My invoices</div>
        </div>
        <div class="invoice-data border-off">
            <table class="all-invoices">
                <thead>
                    <tr class="myinvoces-table-header">
                        <th class="left-border-off">Invoice ID</th>
                        <th>Date</th>
                        <th>Expire</th>
                        <th>Customer</th>
                        <th class="right-border-off">Created by</th>
                    </tr>
                </thead>
                <tfoot id="pagesBar" class="display">
                    <tr>
                        <td colspan="5">
                            <div page-model="@Model.PagesInfo" page-action="MyInvoices" page-class-enabled="true"
                                 page-class="active" page-clas-normal="active"
                                 page-class-selected="active" class="links"></div>
                        </td>
                    </tr>
                </tfoot>
                <tbody id="tbodyID">
                    @foreach (var i in Model.Invoices)
                    {
                        <tr>
                            <td>@i.InvoiceID</td>
                            <td>@i.Date</td>
                            <td>@i.Expire</td>
                            <td>@i.CustomerName</td>
                            <td>@i.ResponsibleEmployee</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</body>
<script>
    var invoicesCount = @Html.Raw(Json.Serialize(invCount));
    var table = document.getElementById("tbodyID");
    document.addEventListener("DOMContentLoaded", function () {
        document.getElementById("invoiceIcon").classList.add("rotate-static");
        ExpandInvoiceCategory();
        PagesBarVisibility();
    });
    table.addEventListener("click", function (e) {
        if (e.target.nodeName === "TD") {
            var id = e.target.parentElement.cells[0].innerHTML;
            location.href = "/Customer/DisplayInvoice?invID="+id;
        }
    });
    function PagesBarVisibility() {
        var body = document.getElementById("tbodyID");
        debugger;
        var pBar = document.getElementById("pagesBar");
        if (invoicesCount <= 10) {
            pBar.className = "display-none";
        }
    }
</script>